<main>
  <h1>BURGER HOUSE</h1>
  <section id="landing-introduction">
    <div>
      <h2>Welcome to Burger House - A Taste of Classic America!</h2>
      <p>
        <b
          >Step into Burger House and experience the nostalgia of a true
          American diner.</b
        >
        <br /><br />
        Inspired by the golden age of burgers, we serve
        <b
          >handcrafted, juicy patties grilled to perfection, topped with fresh
          ingredients, and paired with crispy fries and creamy milkshakes.</b
        >
        Whether you're here for a quick bite or a cozy meal with friends and
        family, our vintage-style atmosphere and mouthwatering flavors will
        transport you back in time. <br /><br />
        <b>Come hungry, leave happy</b> - the best burgers in town are waiting
        for you!
      </p>
    </div>
    <div class="img-container">
      <img
        srcset="
        ./assets/landing_image.webp ,
        ./assets/landing_image_3200px.webp 2x
        "
        src="./assets/landing_image.webp"
        alt="Woman in colorful retro vintage american 50's cafe sitting at table drinking milk shake cocktail wearing pink sunglasses, having fun"
      />
      <!-- <img
        src="./assets/landing_image.webp"
        alt="Woman in colorful retro vintage american 50's cafe sitting at table drinking milk shake cocktail wearing pink sunglasses, having fun"
      /> -->
      <p class="img-footer">
        Designed by <a href="https://www.freepik.com/">Freepik</a>
      </p>
    </div>
  </section>
  <div id="landing-navigation">
    <section id="landing-menu">
      <h2>Our Menu</h2>
      <p>
        At Burger House, we take pride in serving a menu that celebrates the
        classic American burger experience. From our signature cheeseburgers to
        mouthwatering veggie options, there's something for everyone. Don't
        forget to pair your meal with our hand-cut fries and a refreshing
        milkshake!
      </p>
      <a href="./menu.html">See our full menu</a>
    </section>
    <section id="landing-reservation">
      <h2>Reservations</h2>
      <p>
        Planning a special event or gathering? Let us take care of the details!
        Our team is here to help you create the perfect dining experience.
        Contact us to reserve your table and enjoy a delicious meal with friends
        and family.
      </p>
      <a href="./reservations.html">Make a reservation</a>
    </section>
  </div>
</main>
