<main id="main-menu">
    <h1>Our Menu</h1>
    <section id="menu-food">
        <h2>Food</h2>
        <ul>
            <li>
                <a href="./classic-burger.html">
                    <img src="./assets/classic-burger.png">
                    Classic Burger - $10.00
                </a>
            </li>
            <li>
                <a href="./special-burger.html">
                    <img src="./assets/special-burger.png">Special Burger - $17.99
                </a>
            </li>
            <li>
                <a>
                    <img src="./assets/bbq-monster.png">BBQ Monster - $14.99
                </a>
            </li>
            <li>
                <a class="img-container">
                    <img src="./assets/hot-dog.jpg">
                    <p class="img-footer">Designed by www.freepik.com</p>
                </a>
                Hot Dog - $8.00
            </li>
        </ul>
    </section>
    <section id="menu-beverages">
        <h2>Beverages</h2>
        <ul>
            <li><a>Coke</a></li>
            <li><a>Fanta</a></li>
            <li><a>Beer</a></li>
            <li><a>Milkshake</a></li>
        </ul>
    </section>
</main>