<main id="main-menu">
  <h1>Our Menu</h1>
  <section id="menu-food">
    <h2>Food</h2>
    <ul>
      <li>
        <a href="./classic-burger.html">
          <picture>
            <source
              srcset="./assets/classic-burger_160px.webp"
              media="(max-width: 480px)"
            />
            <source
              srcset="./assets/classic-burger.webp"
              media="(min-width: 481px)"
            />
            <img
              src="./assets/classic-burger.webp"
              alt="A Special Burger with a meat patty, tomatoes, lettuce, cheese and sweet potatoes, served with some fied sweet potatoes"
              loading="lazy"
            />
          </picture>
          Classic Burger - $10.00
        </a>
      </li>
      <li>
        <a href="./special-burger.html">
          <picture>
            <source
              srcset="./assets/special-burger_160px.webp"
              media="(max-width: 480px)"
            />
            <source
              srcset="./assets/special-burger.webp"
              media="(min-width: 481px)"
            />
            <img
              src="./assets/special-burger.webp"
              alt="A Classic Burger with a meat patty, tomatoes, lettuce, cheese and onions, served with some fries"
              loading="lazy"
            />
          </picture>
          Special Burger - $17.99
        </a>
      </li>
      <li>
        <a>
          <picture>
            <source
              srcset="./assets/bbq-monster_160px.webp"
              media="(max-width: 480px)"
            />
            <source
              srcset="./assets/bbq-monster.webp"
              media="(min-width: 481px)"
            />
            <img
              src="./assets/bbq-monster.webp"
              alt="A Barbeque style burger with a lettuce, tomatoes, onions, a meat patty, cheese, bacon and our special BBQ sauce, served with some fries"
              loading="lazy"
            />
          </picture>
          BBQ Monster - $14.99
        </a>
      </li>
      <li>
        <a class="img-container">
          <picture>
            <source srcset="./assets/hot-dog.jpg?as=webp&width=160" type="image/webp" media="(max-width: 480px)" />
            <source srcset="./assets/hot-dog.jpg?as=webp" type="image/webp" />
            <img src="./assets/hot-dog.jpg?as=webp" alt="A plate with three small hot dogs, topped with ketchup, mustard and pickles. Served with a toothpick with a small american flag" loading="lazy" />
          </picture>
          <p class="img-footer">Designed by www.freepik.com</p>
        </a>
        Hot Dog - $8.00
      </li>
    </ul>
  </section>
  <section id="menu-beverages">
    <h2>Beverages</h2>
    <ul>
      <li><a>Coke</a></li>
      <li><a>Fanta</a></li>
      <li><a>Beer</a></li>
      <li><a>Milkshake</a></li>
    </ul>
  </section>
</main>
