@keyframes slideInTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInOvershootLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  60% {
    transform: translateX(5%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInOvershootRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  60% {
    transform: translateX(-5%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes pulsating {
  0% {
    transform: rotate(-15deg);
    scale: 0.5;
  }
  100% {
    transform: rotate(15deg);
    scale: 1.5;
  }
}
