/* Importem la font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
  color-scheme: light dark;
  font-family: 'Roboto';
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  width: 80vw;
}

header {
  margin-bottom: auto;
}

footer {
  margin-top: auto;
}